.detailsButton{
    text-decoration: none;
    color: #fff;
    background-color: #cd6ce0;
    font-size: 1rem;
    height: 2rem;
    width: 6rem;
    border: #cd6ce0 1px solid;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #fff;
        color: #cd6ce0;
        cursor: pointer;
        border: #cd6ce0 1px solid;
    }
}