.buttonContainer{
    position: fixed;
    padding-top: 3rem;
}

.buttonContainerHidden{
    display: none;
}

.compareButton{
    width: 8rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #1e90ff;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}