.searchBox {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.searchInput { 
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  padding-left: 1rem; 
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.drugButton { 
  font-size: .8rem;
  padding: 10px;
  width: 40%;
  border-radius: 5px;
  background-color: #cd6ce0;
  color: white; 
  border: none;
  margin-left: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.drugButton:hover {
  background-color: rgb(79, 106, 139);
  color: white;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-top: 1rem;
  position: absolute;
  bottom: -2rem;
}

@media screen and (max-width: 768px) {
  .searchInput {
    font-size: 0.7rem;
  }
  .drugButton {
    font-size: 0.7rem;
    height: 3rem;
  }
}

