.searchBox {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.searchInput {
  height: 3rem;
  width: 100%;
  border-radius: 1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  border: none;
}

.drugButton {
  height: 3rem;
  width: 30%;
  border-radius: 1rem;
  outline: #fff 1px solid;
  background-color: #cd6ce0;
  color: white;
  font-size: 1rem;
  border: none;
  margin-left: 1rem;
}

.drugButton:hover {
  background-color: rgb(79, 106, 139);
  color: white;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-top: 1rem;
  position: absolute;
  bottom: -2rem;
}
