.heroContainer {
  background-image: url(../../assets//images/pills.jpg);
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.searchBackground {
  background-color: #4a4b4b8a;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
  width: 35rem;
  padding: 10px;
  border-radius: 1rem;
}
