.heroContainer {
  background-image: url(../../assets//images/pill.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.searchBackground {
  background-color: rgba(76, 107, 168, 0.404);
  z-index: 2;
  width: 30%;
  padding: 10px;
  border-radius: 1rem;
}

.searchBackground p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.hero{
    background-color: red;
}