@import "../../scss/variables";

.optionsContainer{
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
    text-align: start;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    color: $darkPurplePantoneCode; 
    
    select { 
        border: none;
        box-shadow: 1px 2px 3px 2px #d3d4d5;
        border-radius: 5px;
        padding: 10px;
        width: 100%; 
        font-family: 'Montserrat', sans-serif;
        &:focus {
            outline: none;
        }
    } 

    input { 
        padding: 10px;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 2px 3px 2px #d3d4d5; 
        border-style: none; 

        &:focus {
            outline: none;
        }
    }
    
    button { 
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: $darkPurplePantoneCode;
        color: white;
        font-family: 'Montserrat', sans-serif;
        transition: all 1s;
        margin-bottom: 15px;

        &:hover {
            transform: scale(1.1);
        }
    }
}
.septomsContainer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: 0px 1px 2px  $darkPurplePantoneCode;
    margin-bottom: 1rem;
    border-radius: 5px; 
    transition: all 1s; 
    width: 100%;

    &:hover {
        transform: scale(1.1);
        transition: all 1s;
    }

    h4 {
        color: $darkPurplePantoneCode;
        font-weight: bold; 
    }

    p { 
        font-size: .8rem; 
        padding-top: .6rem;
        gap: 1rem;
        margin-left: 1rem;
        color: $backgroundDarkColor;
        font-weight: bold; 
    } 
}