.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  width: 20rem;
  max-width: 30rem;
  .check {
    font-size: 1.5rem;
  }
  .checkActive {
    color: #cd6ce0;
    font-size: 1.5rem;
  }
}

.cardChecked {
  background-color: #cef1f3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  .check {
    font-size: 1.5rem;
  }
  .checkActive {
    color: #cd6ce0;
    font-size: 1.5rem;
  }
}
