@import "../../../../scss/variables";
.link {
  color: rgb(255, 255, 255); 
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'Georama', sans-serif; 
  font-weight: bold;
}
.link:hover {
  color: $lightPurplePantoneCode; 
  font-size: 1.2rem;
  text-decoration: none;
}
