.link {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
}

.link:hover {
  background-color: rgb(76, 106, 168);
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
}
