.button{
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
    border: none;
    background-color: #cd6ce0;
    color: #fff;
    font-size: 1rem;
}

.button:hover{
    background-color: #fff;
    color: #cd6ce0;
    border: 1px solid #cd6ce0;
    cursor: pointer;
}