.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cd6ce0;
    position: fixed;
    width: 100%;
    padding: 0.5rem;
    bottom: 0;
    font-family: 'Georama', sans-serif;
}