@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600&family=Playball&display=swap');

body {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}