$MainColor:#cd6ce0;
$backgroundDarkColor: #000;

// main pantone code palatte
$darkPurplePantoneCode: #A77BCA;
$purePurplePantoneCode: #B580D1;
$lightPurplePantoneCode: #C98BDB;

$darkPinkPantoneCode: #C964CF;
$purePinkPantoneCode: #D986BA;
$lightPinkPantoneCode: #EC86D0;
