.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    border: none;
    background-color: #cd6ce0;
    color: #fff;
    font-size: 1rem;
    border: #cd6ce0 1px solid;
}

.button{
    text-decoration: none;
    color: #fff;
}

.button:hover{
    color: #fff;
    color: #cd6ce0;
}

.buttonContainer:hover{
    background-color: #fff;
    cursor: pointer;
    border: #cd6ce0 1px solid;
}